body {
    font-family: 'Arial', sans-serif;
    background-color: #202e3f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0c85d0;
}

h2 {
    color: #ffffff;
}

#log_or_register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#user_login,
#user_register {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    width: 30%;
}

#user_login:hover,
#user_register:hover {
    background-color: #0c85d0;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}