<body>
    <header>
        <a href=""><img src="asset/img/png/logo_100.png" alt="Logo Twitter" title="Logo Twitter"></a>
        <form id="search_form">
            <input type="text" id="searchbar" placeholder="" maxlength="48">
            <button>Search</button>
        </form>
        <div id="header_buttons">
            <button id="dm_button"><iconify-icon icon="mdi:message-text"></iconify-icon></button>
            <button id="user_account"><iconify-icon icon="mdi:account"></iconify-icon></button>
            <button id="user_logout"><iconify-icon icon="material-symbols:logout"></iconify-icon></button>
        </div>
    </header>
    <script src="/code/view/javascript/header_buttons.js"></script>
</body>